
body{
	width: 100%;
	height: 100%;
	background: #eaeaea;
}

.container{
	
}

.clavier{
	width: 300px;
	margin: auto;
	height: 340px;
	background: #2d8ead;
}

.white{
	color: #FFFFFF;
}

.clavier h1{
	text-align: center;
	font-size: 20px;
	font-family: cursive;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0 25px 0 45px;
}

ul li p{
	width: 65px;
	height: 65px;
	background: cyan;
	display: inline-block;
	cursor: pointer;
	float: left;
    margin: 2px;
    font-size: 35px;
    text-align: center;
    font-family: cursive;
}

input[type=password]{
	width: 100%;
	height: 45px;
	margin-top: 20px;
    border: 1px solid #2d8ead;
    text-align: center;
    font-size: 35px;
}

input[type=button]{
	width: 49.20%;
	height: 45px;
	margin-top: 20px;
    border: 1px solid #2d8ead;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
}

input[type='button']:nth-of-type(3){
	background: #de1e1e;
}

input[type='button']:nth-of-type(2){
	background: #2d8ead;
}

input[disabled]{
	cursor: not-allowed;
}